{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    
<div class="container justify-content-start">
    <div class="row ">
    <div class="col-12 col-lg-4">
    {# STRUCTURE CARD #}
    {# Début nav entre les pages #}
    <div class="card text-center " style="width: 1200px;">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link " href="{{ path('event_new') }}">Créer un event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">{{ event.nom | upper}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('user_showEvent') }}" tabindex="-1" aria-disabled="true">Mes event</a>
            </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Tous les event</h5>
        {# fin nav entre les pages #}
            
            {# Début recherche localisation des event #}
                {# AFFICHEGAE MAP #}
                {# <div id="mapId" class="4" style="width: 28rem;height : 18rem"></div> #}
                
                <div id="mapId" class="4" style="width: 28rem;height : 18rem"></div>
                <div>
                <p id="resultat" class="text-start">Adresse: </p>
                </div>
                
                {# Affichage de l'évenement #}
                <div class="border">
                <div class="d-flex justify-content-between align-item-center">
                    <h5 class="">{{ event.nom |upper}}</h5>
                    
                    
                </div>
                <p class="text-start">Catégorie: {{ event.categorie }}</p>
                <p class="text-start"><i class="fas fa-calendar-alt text-warning"></i> {{ event.dateDebut ? event.dateDebut|date('d-m-Y') : '' }}</p>
                <p class="text-start"><i class="fas fa-user-friends text-warning"></i>: {{ event.persMin ~ "minimum"}}
                {% if event.persMax is defined and event.persMax is not null %}
                 <p class="text-start"><i class="fas fa-users text-warning"></i> {{ event.persMax ~ "maximum"}} </p>
                {% endif %}
                
                {# <p id="resultat" class="text-start">Adresse: {{ event.rue }}{{ event.codePostal }}{{ event.ville }}</p> #}
                
                <p class="text-start"><i class="fas fa-wheelchair text-warning"></i> {{ event.access }}</p>
                <p class="text-start"><i class="fas fa-quote-left text-warning"></i> {{ event.message }} <i class="fas fa-quote-right text-warning"></i></p>
                {# ANCHOR A AJOUTER : ORGANISER PAR AVEC ID USER #}

                <div class="d-none">
                <p id="lat".class="text-end">{{event.latitude}}</p>
                <p id="lng".class="text-end">{{event.longitude}}</p>
                </div>

               <div>
                <a href="{{ path('event_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
                <a href="{{ path('event_subscribe', {id: event.id}) }}" class="btn btn-outline-secondary"><i class="fas fa-calendar-plus"></i></a>
                <a href="{{ path('messagerie_new', {id: event.id}) }}" class="btn btn-outline-secondary"><i class="far fa-comments"></i></a>
               </div>
                </div>
            
        </div>
    </div>
</div>
{# FIN CARD #}
    </div>
    </div>
    {% block javascripts %}
     
    <!-- FICHIER JS LEAFLET -->
    
    <script>
   document.addEventListener("DOMContentLoaded", initMap, false);
    function initMap(){
        {# MES VARIABLES #}
        var lat2 = document.getElementById('lat').innerText;
        var lng2 = document.getElementById('lng').innerText;
        {# console.log (lat);
        console.log (lng); #}
        var event = {lat: lat2, lng: lng2};
        {# console.log(event); #}
        var centre ={lat: 47.232, lng: 	2.421}; // coordonnées lat lng du centre de la france
        var map = L.map('mapId').setView( event, 13); // zoom a 5 pr visualiser la carte de france en entière
        // ajout de jeu de tuiles: plusieurs attributs:
        // FCTION TILELAYER
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        geoDecode(lat2, lng2);

        L.marker(event).addTo(map); //ANCHOR mettre un popup sur le maker   
        {# console.log(event); #}
        
        async function geoDecode(lat, lng){
            let resultat = document.getElementById("resultat");
            console.log("resultat :", resultat);
            resultat.innerHTML = "Adresse: patience ca arrive!!!";
            //appel nominatim
            let resp = await fetch (`http://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`); //précise reverse pour avoir l'inverse 
            let datas =await resp.json();
            console.log("datas=", datas); //display name + adresse
            if(datas.display_name){
                resultat.innerHTML = "Adresse: "+datas.address.road+" "+datas.address.ville+" "+" "+datas.address.village+" "+datas.address.postcode;
                console.log("resultat 2 :", resultat);
                console.log("datas.display_name :",datas.display_name);
            }else{
                resultat.innerHTML ='non trouvé';

            }
        }
        }
    </script>
    {% endblock %}
    

{% endblock %}

                
                
                
                
              
                {# A GARDER #}
                {#
                <td>{{ event.longitude }}</td> #}
                {# <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a> #}