{% extends 'base-front.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    
<div class="d-flex f-wrap justify-content-center">
<div class="col-lg-8">
    {# STRUCTURE CARD #}
    {# Début nav entre les pages #}
    {# ANCHOR - attention à la width 1200px, peut etre bloquant pour le responsive #}
    <div class="card text-start shadow-lg p-3 mb-5 bg-body rounded" style="">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('event_new') }}">Créer un event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-warning fw-bold" aria-current="true" href="#">{{ event.nom | upper}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('user_showEvent') }}" tabindex="-1" aria-disabled="true">Mes event</a>
               
            </li>
            </ul>
        </div>
        {# fin nav entre les pages #}
            
        <div class="card-body">
            
        
            {# Début recherche localisation des event #}
                 {# AFFICHEGAE MAP #}
                <div class="row justify-content-around">
             
                        <div id="mapId" class="mt-2 shadow p-3 mb-5 bg-body rounded" style="max-width: 75rem;height : 25rem"></div>
                {# AFFICHAGE BARRE DE RECHERCHE ADRESSE #}
                <div class="col-lg-10 mt-2">
                <h5 class="text-center fw-bold">{{ event.nom |upper}}</h5>
                <p id="resultat" class="text-center fw-bold">Adresse: </p>
                </div>
                
                {# Affichage de l'évenement #}
                <div class="border mb-4 shadow p-3">
                <div class=" row mt-2">
                    <div class="col-lg-3">
                <p class="text-start">Catégorie :
                    {% if event.categorie == 1 %}
                        Festif <i class="text-warning fas fa-glass-cheers"></i></p>
                    {% endif %}
                    {% if event.categorie == 2 %}
                        Entraide <i class="text-warning fas fa-hands-helping"></i></p>
                    {% endif %}
                    {% if event.categorie == 3 %}
                        Familial <i class="text-warning fas fa-glass-cheers"></i></p>
                    {% endif %}
                    {% if event.categorie == 4 %}
                        Loisirs/détente <i class="text-warning fas fa-palette"></i></i></p>
                    {% endif %}
                    {% if event.categorie == 5 %}
                        Sportif <i class="text-warning fas fa-volleyball-ball"></i></p>
                    {% endif %}
                    {% if event.categorie == 6 %}
                        Entreprise <i class="text-warning fas fa-briefcase"></i></p>
                    {% endif %}

                <p class="text-start"><i class="fas fa-calendar-alt text-warning"></i> {{ event.dateDebut ? event.dateDebut|date('d-m-Y') : '' }}</p>
                {% if event.dateFin is defined and event.dateFin is not null %}
                <p class="text-start"><i class="fas fa-calendar-alt text-warning"></i> {{ event.dateFin ? event.dateFin|date('d-m-Y') : '' }}</p>
                {% endif %}
                <p class="text-start"><i class="fas fa-user-friends text-warning"></i> {{ event.persMin ~ "minimum"}}
                {% if event.persMax is defined and event.persMax is not null %}
                 <p class="text-start"><i class="fas fa-users text-warning"></i> {{ event.persMax ~ "maximum"}} </p>
                 
                {% endif %}
                
                {# <p id="resultat" class="text-start">Adresse: {{ event.rue }}{{ event.codePostal }}{{ event.ville }}</p> #}
                {% if event.access == 0 %}
                    <p class="text-start"><i class="fas fa-wheelchair text-success"></i> {{"accessible facilement" }}</p>
                {% endif %}
                {% if event.access == 1 %}
                    <p class="text-start"><i class="fas fa-wheelchair text-danger"></i> {{"accessibilité difficile"}}</p>
                {% endif %}
                </div>

                <div class="col-lg-7">
                    <h6>Message à destination des participants</h6>
                    {% if event.message is defined and event.message is not null %}
                    <p class="text-start"><i class="fas fa-quote-left text-warning"></i> {{ event.message }} <i class="fas fa-quote-right text-warning"></i></p>
                </div>
                <div class="d-none">
                    <p id="lat".class="text-end">{{event.latitude}}</p>
                    <p id="lng".class="text-end">{{event.longitude}}</p>
                </div>
                {% endif %}
                

                
                <div class="row col-lg-2 m-0 d-flex align-items-baseline">
                    <a href="{{path('event_index') }}" class="btn btn-outline-warning mb-1 " id="geocode" data-bs-toggle="tooltip" data-bs-placement="left" title="Retour"><i class="fas fa-backward"></i></a>

                    <a href="{{ path('messagerie_new', {id: event.id}) }}" class="btn btn-outline-secondary mb-1"data-bs-toggle="tooltip" data-bs-placement="left" title="Fil de discussion"><i class="far fa-comments"></i></a>
                    

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-warning mb-1 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
               
              
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Inscription {{ event.nom }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Je confirme mon inscription pour l'évenement du {{event.dateDebut ? event.dateDebut|date('d-m-Y') : '' }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success "><a href="{{ path('event_subscribe', {id: event.id}) }}" class="text-decoration-none text-white">Confirmation</a></button>
                    </div>
                    </div>
                </div>
                </div>
               </div>
            </div>
            
        </div>
    {# </div> #}
{# </div>  #}
{# FIN CARD #}
    </div>
    </div>
    {% block javascripts %}
     
    <!-- FICHIER JS LEAFLET -->
    
    <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
    })
   document.addEventListener("DOMContentLoaded", initMap, false);
    function initMap(){
        {# MES VARIABLES #}
        var lat2 = document.getElementById('lat').innerText;
        var lng2 = document.getElementById('lng').innerText;
        {# console.log (lat);
        console.log (lng); #}
        var event = {lat: lat2, lng: lng2};
        {# console.log(event); #}
        var centre ={lat: 47.232, lng: 	2.421}; // coordonnées lat lng du centre de la france
        var map = L.map('mapId').setView( event, 13); // zoom a 5 pr visualiser la carte de france en entière
        // ajout de jeu de tuiles: plusieurs attributs:
        // FCTION TILELAYER
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        geoDecode(lat2, lng2);

        L.marker(event).addTo(map); //ANCHOR mettre un popup sur le maker   
        {# console.log(event); #}
        
        async function geoDecode(lat, lng){
            let resultat = document.getElementById("resultat");
            console.log("resultat :", resultat);
            resultat.innerHTML = "Adresse: patience ca arrive!!!";
            //appel nominatim
            let resp = await fetch (`http://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`); //précise reverse pour avoir l'inverse 
            let datas =await resp.json();
            console.log("datas=", datas); //display name + adresse
            if(datas.display_name){
                resultat.innerHTML = "Adresse: "+datas.display_name;
                console.log("resultat 2 :", resultat);
                console.log("datas.display_name :",datas.display_name);
            }else{
                resultat.innerHTML ='non trouvé';

            }
        }
        }
    </script>
    {% endblock %}
    

{% endblock %}

               