{% extends 'base-front.html.twig' %}

{% block title %}Nouvel event{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h1>
                    <span class="d-block titre-home col-7 text-end">Créer un</span>
                    <br>
                    <span class="d-block titre-home col-8 text-end">event</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="d-flex f-wrap justify-content-center">
    <div class="col-lg-8">
    {# STRUCTURE CARD #}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active text-warning fw-bold" aria-current="true" href="#">Créer un event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('event_index') }}">Tous les events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('user_showEvent') }}" tabindex="-1" aria-disabled="true">Mes events</a>
            </li>
            </ul>
        </div>
        <div class="card-body">
        <div class="row justify-content-around">
          
            {# <h5 class="card-title">CREER UN EVENEMENT</h5> #}
            {# AFFICHEGAE MAP #}
            <div id="mapId" class="mt-2 shadow p-3 mb-5 bg-body rounded" style="max-width: 75rem;height : 25rem"></div>
            {# AFFICHAGE BARRE DE RECHERCHE ADRESSE #}
            <div class="col-lg-10 mt-2">
            <p class="text-start text-danger fw-bold" >Entrez votre adresse dans la barre de recherche ou cliquez sur la map</p>
            <p class="text-start">
                <input class="geo mt-1" id="adresse" value="" placeholder="adresse de l'évenement">
                <button type="button" class="btn btn-outline-warning ms-1 shadow "id="geocode">RECHERCHER</button>
            </p>
            {# AFFICHAGE BOUTON GEOLOCALISATION #}
            {# <p class="text-start">
            <button type="button" class="btn btn-outline-secondary mt-2"id="localisation">JE VEUX ETRE GEOLOCALISE</button>
            </p> #}
            <p class="d-none" id="localisation"></p>
            
            <p class="text-start text-success fw-bold" id="resultat"></p>
            </div>
            </div>
            {# FORM #}
            {# <p class="card-text">{{ include('event/_form.html.twig') }}</p> #}
            <div class="card-body">
             {{ form_start(form)}}
                                <div class="d-flex flex-wrap">
                                    <div class="col-12 col-md-6">

                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.categorie)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.nom)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.date_debut)}}
                                        </div>                   
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.heure_debut)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.date_fin)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.heure_fin)}}
                                        </div>
                                    </div>
                                 <div class="col-12 col-md-6">
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.pers_min)}}
                                        </div>                        
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.pers_max)}}
                                        </div>                        
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.access)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.message)}}
                                        </div>
                                        
                                           
                                        
                                        
                                    </div>
                                </div>
                                <div class="col-12 p-3 text-center">
                                    <button class="btn btn-warning">{{ button_label|default('Créer') }}</button>
                                   
                                    </div> {{ form_end(form)}}
                                    
            
        </div>
    </div>
</div>
{# FIN CARD #}
    </div>
</div>
    
    
    {% block javascripts %}
    <!-- FICHIER JS LEAFLET -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script>
        {# MES VARIABLES #}
        let centre ={lat: 47.232, lng: 	2.421}; // coordonnées lat lng du centre de la france
        let map = L.map('mapId').setView( centre, 5); // zoom a 5 pr visualiser la carte de france en entière

        // ajout de jeu de tuiles: plusieurs attributs:
        // FCTION TILELAYER
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        {# RECUPERATION DE L ADRESSE ENTRE DANS LA BARRE DE RECHERCHE #}
        let geocodebtn = document.getElementById('geocode');
        geocodebtn.addEventListener('click', function(){
            let adresse = document.getElementById('adresse').value;
            {# console.log(adresse); #}
            geoCode(adresse);
        });

        async function geoCode(adresse, e){
            let url = `https://nominatim.openstreetmap.org/search/?format=json&addressdetails=1&q=${adresse}`;
            let resp =await fetch(url);
            let datas = await resp.json();
            let lat =parseFloat(datas[0].lat).toFixed(4);
            let lng =parseFloat(datas[0].lon).toFixed(4); // attention ac ce fournisseur la lng est une lon
            //////////LAT + LNG DS FORMULAIRE DE CREATION
            let ville = (datas[0].address.city);
            let village = (datas[0].address.village);
            let municipality = (datas[0].address.municipality);
            let rue = (datas[0].address.road);
            let cp = (datas[0].address.postcode);
            
            document.getElementById("event_latitude").value = lat;
            document.getElementById("event_longitude").value = lng;
            document.getElementById("event_rue").value = rue;
            document.getElementById("event_code_postal").value = cp;
            {# Attention différents noms de villes/villages/municipality #}
            if(ville){
                document.getElementById("event_ville").value = ville;
            } 
            else if (village){
                document.getElementById("event_ville").value = village;
            }else {
                document.getElementById("event_ville").value = municipality;
            }
            resultat.innerText = "Vos données sont transmises au formulaire avec succès";
            
            //ajout d'un marker
            L.marker([lat, lng]).addTo(map) //ANCHOR mettre un popup sur le maker   
        } 
        //FIN RECUP ADRESSE

        {# GEOLOCALISATION AU BTN #}
        let localisation = document.getElementById('localisation');
        
        localisation.addEventListener('click', function(){
            // console.log('dis mois que ca marche..')
            localisation.disabled = true ; //désactiver le bouton une fois cliquer pr éviter que le user click 50fois si le chargement prend du tps
            map.on('locationfound', onLocationFound);
            map.on('locationerror', onLocationError);

            map.locate({setView:true, maxZoom: 18}) //fction de leaflet qui lance la localisation et appelera nos fctions/ setView:true pr recentrer sur cette localisation
        });

        function onLocationFound(e){
            console.log(e);
            document.getElementById("event_latitude").value = e.latlng.lat;
            document.getElementById("event_longitude").value = e.latlng.lng;
            document.getElementById("event_rue").value = rue;
            document.getElementById("event_code_postal").value = cp;
            {# Attention différents noms de villes/villages/municipality #}
            if(ville){
                document.getElementById("event_ville").value = ville;
            } 
            else if (village){
                document.getElementById("event_ville").value = village;
            }else {
                document.getElementById("event_ville").value = municipality;
            }    
            console.log(e);
            
           
            L.marker(e.latlng).addTo(map).bindPopup("vous êtes ici!").openPopup(); //récupérer les données sous forme d'objet pr pouvoir les réutiliser 
            
        }
        //fction indiquant erreur dans la localisation et réactivation du btn
        function onLocationError(e){
            localisation.disabled = false;
            alert(e.message);
        }
        {# FIN GEOLOCALISATION AU BTN #}

        {# LOCALISATION AU CLICK SUR MAP #}
               map.on('click', function(e){
            
            let lat = parseFloat(e.latlng.lat).toFixed(4);
            let lng = parseFloat(e.latlng.lng).toFixed(4);
            document.getElementById("event_latitude").value = lat;
            document.getElementById("event_longitude").value = lng;
            L.marker([lat, lng]).addTo(map);
            geoDecode(lat, lng);
        });
 

        async function geoDecode(lat, lng){
            let resultat = document.getElementById("resultat");
            resultat.innerText = "Chargement...";
            //appel nominatim
            let resp = await fetch (`http://nominatim.openstreetmap.org/reverse?format=json&addressdetails=1&q=${adresse}&lat=${lat}&lon=${lng}`); //précise reverse pour avoir l'inverse 
            let datas =await resp.json();
            
            let ville = (datas.address.city);
            let village = (datas.address.village);
            let municipality = (datas.address.municipality);
            let rue = (datas.address.road);
            let cp = (datas.address.postcode);
            let pays =(datas.address.country);
            console.log(datas.address);
            document.getElementById("event_latitude").value = lat;
            document.getElementById("event_longitude").value = lng;
            document.getElementById("event_rue").value = rue;
            document.getElementById("event_code_postal").value = cp;
            document.getElementById("event_pays").value = pays;
            {# Attention différents noms de villes/villages/municipality #}
            if(ville){
                document.getElementById("event_ville").value = ville;
            } 
            else if (village){
                document.getElementById("event_ville").value = village;
            }else {
                document.getElementById("event_ville").value = municipality;
            }
            
            if(datas.display_name){
                
                resultat.innerText = "Vos données sont transmises au formulaire avec succès";
                ///////////////////////////////////////AFFICHAGE CERCLE SUR UN RAYON DE 1KM/////////////////////////////////////
                circle = L.circle(datas, {
                color: '#0000ff',
                radius: 1000 * d /// en mètre
                }).addTo(map);
                    
                    
                    
                    
            
            }else{
                resultat.innerText ='non trouvé';

            }
        }
    </script>
    {% endblock %}

        




{% endblock %}
