{% extends 'base-front.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h1>
                    <span class="d-block titre-home col-7 text-end">Connexion</span>
                    <br>
                    <span class="d-block titre-home col-8 text-end">Utilisateur</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="container bg-under-text">
        <div class="row p-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-title">
                        <h3 class=" m-3 text-center">Merci de vous connecter</h3>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-wrap row justify-content-center">
                            <form method="post">
                                
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}"><img src="{{ asset ('images/icons/sign-out-alt-solid.svg') }}" alt="déconnexion"></a>
                                        </div>
                                    {% endif %}
                                
                                    <div class="row justify-content-center">
                                    <div class="col-lg-5 p-2">
                                        <label class="form-label p-2" for="inputUsername">Username</label>
                                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control p-2 mb-2" autocomplete="username" required autofocus>
                                        <label class="form-label p-2" for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control p-2" autocomplete="current-password" required>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        
                                        <div class="text-center">
                                            <button class="m-3 text-center btn btn-lg btn-warning" type="submit">Se connecter</button>
                                        </div>
                                    </div>
                                    </div>

                                {#
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html

                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                #}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
