{% extends 'base-front.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    <span class="d-block titre-home col-7 text-end">Evènement</span>
                    <br>
                    <span class="d-block titre-home col-8 text-end mb-3">{{ messagerie.event.nom | upper}}</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row p-3 justify-content-center">
            <div class="col-12">
                <div class="card shadow rounded">
                    <div class="card-title">
                        <h2 class="p-5 text-center"> Contactez les autres utilisateurs inscrits dans cet évènement.</h2>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="d-flex flex-wrap justify-content-center">
                            <div class="form-group col-lg-6 text-center mb-5">
                                {{form_label(form.message)}}
                                {{form_widget(form.message, {'attr': {'class':'form-control, w-100', 'rows':'4'}})}}

                                <div class="col-12 text-end p-3">
                                    {{ form_widget(form) }}
                                    <button class="btn btn-warning shadow rounded">{{ button_label|default('Publier') }}</button>
                                </div>
                            </div>
                            {{ form_end(form) }}

                        
                            <div class="col-9">
                            {# {% if messages is defined and messages|length > 0 %}
                                {% for message in messages %}
                                    <div class="col-4">
                                        <div class="card">
                                        <div class="card-title">
                                            <h4>Expéditeur : {{ app.user.username}}</h4>
                                        </div>
                                        <div class="card-body">
                                            <p>{{ message.message | capitalize}}</p>
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                            {% endif %} #}


                                <table class="table table-info table-hover table-striped shadow rounded m-0 ">
                                    <thead>
                                        <tr class="text-left">
                                        <th scope="col">Expéditeur</th>
                                        <th scope="col">Message</th>
                                        {% if messages is defined and messages|length > 0 %}
                                        {% for message in messages %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        
                                        <td>{{ app.user.username}}</td>
                                        <td>{{ message.message }}</td>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-3">
                            <a href="{{ path('event_index') }} " class="btn btn-outline-info mt-2 shadow rounded">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
