{% extends 'base-front.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <h1>Messagerie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ messagerie.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ messagerie.message }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ messagerie.createdAt ? messagerie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsRead</th>
                <td>{{ messagerie.isRead ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('messagerie_index') }}">back to list</a>

    <a href="{{ path('messagerie_edit', {'id': messagerie.id}) }}">edit</a>

    {{ include('messagerie/_delete_form.html.twig') }}
{% endblock %}
