{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="text-white">Annuaire admin</h1>

   <div class="row col-8 bg-light">
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Username</th>
                <th>Roles</th>
                
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Email</th>
                <th>Poste</th>
                <th>Numero_rue</th>
                <th>Rue</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Pays</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {# <td>{{ user.id }}</td> #}
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.sexe }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.poste }}</td>
                <td>{{ user.numeroRue }}</td>
                <td>{{ user.rue }}</td>
                <td>{{ user.codePostal }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.pays }}</td>
                
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('user_new') }}">Ajouter un utilisateur</a>
{% endblock %}
