{% extends 'base.html.twig' %}

{% block title %}Annuaire utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h1>
                    <span class="d-block titre-home col-7 text-end"> Annuaire  </span>
                    <br>
                    <span class="d-block titre-home col-8 text-end">Utilisateurs</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row p-3">
            <div class="col-12">
                <div class="card shadow rounded">
                    <div class="card-title">
                        <h2 class="p-5 text-center">Retrouvez tous les utilisateurs de votre communauté et modifiez leurs informations et leurs accréditations.</h2>
                    </div>
                    <div class="card-body">
                        <div class="col-12 text-end p-3 mb-3">
                            <a class="btn btn-outline-warning shadow rounded" href="{{ path('user_new') }}">Ajouter un utilisateur</a>
                        </div>
                        <div class="d-flex flex-wrap ">
                        {% for user in users %}
                            <div class="col-lg-4 m-0">
                                <div class="card shadow rounded m-3 p-3">
                                    <div class="card-title text-center">
                                        <h4>{{ user.prenom |capitalize }} {{ user.nom |capitalize }}</h4>
                                    </div>
                                    <div class="card-body">
                                        <p>Poste : {{ user.poste |capitalize }}</p>
                                        <p>Ville : {{ user.ville |capitalize }}</p>
                                        <p>Role : 
                                        {% if 'ROLE_ADMIN' in user.roles %}
                                        Administrateur
                                        {% else %}
                                        Utilisateur
                                        {% endif %}
                                        </p>
                                        <p>Email : {{ user.email }}</p>
                                        <div class="text-end"> 
                                            <a class="btn btn-outline-info" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                                            <a class="btn btn-outline-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                <p>Aucun utilisateur trouvé</p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
