{% extends 'base-front.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %} 
     <div class="d-inline-block alert alert-success text-dark fw-bold" role="alert"> {{ message }}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div> 
    
{% endfor %}
  <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h1>
                    <span class="d-block titre-home col-7 text-end"> Mon espace  </span>
                    <br>
                    <span class="d-block titre-home col-8 text-end">Utilisateur</span>
                </h1>
            </div>
        </div>
    </div>
    
    <div class="container">

    
        {# Affichage du formulaire d'ajout d'un admin entreprise #}
            {# Le code ci dessous permet d'appliquer une mise en page custom pour le formulaire #}

            {{ form_start(form) }}
                <div class="row p-3">
                    <div class="col-12">
                        <div class="card shadow rounded">
                            <div class="card-title">
                                <h4 class="p-1 text-center">Modifier mes informations</h4>
                                
                            </div>
                            <div class="card-body">
                                <div class="d-flex flex-wrap">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.username)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.password)}}
                                            
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.nom)}}
                                        </div>                   
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.prenom)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.sexe)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.email)}}
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-md-6">
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.poste)}}
                                        </div>                        
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.numero_rue)}}
                                        </div>                        
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.rue)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.code_postal)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.ville)}}
                                        </div>
                                        <div class="form-group p-1 m-2">
                                            {{form_row(form.pays)}}
                                       
                                </div>
                                </div>
                                {# <div class="col-12 p-3 text-end">
                                    {{ form_end(form)}}
                                </div> #}
                            <div class="d-flex col-12">
                            <div class=" p-3 text-start">
                                <button class="btn btn-outline-warning">{{ button_label|default('Modifier') }}</button>
                                {{ form_end(form)}}
                            </div>
                            <div class=" p-3 text-end">
                                <a class="btn btn-outline-info" href="{{ path('home_page') }}">Retour</a>
                            </div>
                            </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                    {# {{ form_widget(form, {'show_legend':false}) }} #}

                {# Si on ajoute l'option render_rest à false sur le formulaire seul les champs exprimés dans form_row ou form_widget seront rendus #}
            {# {{ form_end(form, {'render_rest':false}) }} #}
            

    </div>
    {# {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }} #}

    <a href="{{ path('user_moncompte') }}">Retour</a>

{% endblock %}
