{% extends 'base-front.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    <span class="d-block titre-home col-6 text-end"> Utilisateur</span>
                    <br>
                    <span class="d-block titre-home col-7 text-end mb-3">{{ user.username }}</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="container bg-under-text">
        <div class="row p-3">
            <div class="col-12">
                <div class="card ">
                    <div class="card-title">
                        <h2 class="p-5 text-center"> Modifier un utilisateur pour lui attribuer de nouveaux rôles et mots de passe ou supprimer un compte utilisateur.</h2>
                    </div>
                    <div class="card-body">
                        <div class="col-12 text-end p-3">
                            <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier l'utilisateur</a>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="col-12 col-md-6">
                                <h3 class="p-2 text-center">Informations personnelles</h3>
                                <div class="p-1 m-2 shadow rounded list-group-item">Nom : {{ user.nom }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">Prénom : {{ user.prenom }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">Sexe : {{ user.sexe }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">N° de rue : {{ user.numeroRue }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">Rue : {{ user.rue }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">Code postal : {{ user.codePostal }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">Ville : {{ user.ville }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">Pays : {{ user.pays }}</div>
                            </div>
                            <div class="col-12 col-md-6">
                                <h3 class="p-2 text-center">Informations professionnelles</h3>
                                <div class="p-1 m-2 shadow rounded list-group-item">Username : {{ user.username }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">Email : {{ user.email }}</div>
                                <div class="p-1 m-2 shadow rounded list-group-item">Poste occupé : {{ user.poste }}</div>          
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-3">
                        <a class="btn btn-outline-info" href="{{ path('user_index') }}">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    



{% endblock %}
